# Environment Variables
.env

# mounted volume
sites

development/*
!development/scripts
!development/.vscode
!development/README.md
!development/installer.py

# Pycharm
.idea

# VS Code
.vscode/**
!.vscode/extensions.json

# VS Code devcontainer
*.code-workspace

# Python
*.pyc
__pycache__
venv
